/* стили схемы мартшрута */ 
.lead__route {
  margin: 90px auto 260px auto;
  position: relative;
  width: 90%;
}

@media screen and (max-width: 767px) {
  .lead__route {
    margin: 41px auto 85px auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__route {
    margin: 100px auto 204px auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__route {
    margin: 128px auto 246px auto;
  }
}
