/* стили контейнера параграфов блока places */ 
.place__text-container {
  grid-area: paragraph;
  margin: 45px 0 0 0;
}

@media screen and (max-width: 767px) {
  .place__text-container {
    margin: 32px 0 0 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__text-container {
    max-width: 352px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__text-container {
    max-width: 456px;
  }
}

@media screen and (min-width: 1280px) {
  .place__text-container {
    max-width: 484px;
  }
}