/* стили блока ссылок в подвале */ 
.footer__links {
  display: flex;
  list-style: none;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 92px 0 24px 48px;
}

@media screen and (max-width: 767px) {
  .footer__links  {
    margin: 64px 0 0 16px;
    flex-direction: column;
    align-items: flex-start;
    height: 200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__links  {
    margin: 88px 0 24px 24px;    
  }
}
