/* стили автора сайта */
.footer__copyright{
  margin: 0 48px 24px 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  color: #FFFFFF;
  border: 1px solid red;
}