/* Стили контейнера со ссылками блока places */
.website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  max-width: 484px;
  grid-area: "website";
  border: 1px solid red;
}