/* контейнер элементов шапки страницы */ 
.header__container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 46px 48px 5px;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .header__container {
    margin: 30px 16px 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__container {
    margin: 46px 24px 0;
  }
}