/* стили подписи к картинке блока lead */ 
.lead__caption {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  bottom: -32px;
  color: #FFFFFF;
  max-width: 690px;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 767px) {
  .lead__caption {
    max-width: 288px;
    left: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__caption {
    left: 24px;
  }
}