/* стили контейнера place блока places */ 
.place {
  display: grid;
  grid-template-areas:
  "title website"
  "image paragraph"
  "image paragraph";
  margin: 92px 148px 0px;
}

@media screen and (max-width: 767px) {
  .place {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px; 
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    margin: 44px 24px 0px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    margin: 60px 48px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .place{
    margin-top: 65px;
  }
}